.basicContent {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;

    .left {
        margin-right: pxConvertor(116);

        .imgBox {
            width: pxConvertor(1013);
            height: pxConvertor(676);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .right {
        width: pxConvertor(693);

        .titleBox {
            position: relative;
            width: 100%;
            margin-bottom: pxConvertor(80);

            h2 {
                span {
                    color: $gold_color;
                    font-family: 'Cormorant Garamond', serif;
                    font-weight: 400;
                    font-size: var(--ch_l_text);
                    letter-spacing: 0.02em;
                }

            }

            .line {
                position: absolute;
                width: 3vw;
                height: 1px;
                left: 0;
                bottom: -(pxConvertor(20));
                background-color: $gold_color;
            }
        }

        .paraBox {
            p {
                letter-spacing: 0.07em;
                white-space: pre-wrap;
                color: #fff;
            }

            & :nth-child(1) {
                font-size: pxConvertor(28);
                font-weight: 600;
                margin-bottom: pxConvertor(40);
            }

            & :nth-child(2) {
                font-size: var(--ch_s_text);
                font-family: "Microsoft JhengHei", serif;
                line-height: 2;
            }
        }

        ul {
            display: flex;
            margin-top: 3vw;

            li {
                color: #1a1a1a;
                font-size: pxConvertor(21);
                line-height: 1;
                letter-spacing: 0.1em;
                font-weight: 600;

                cursor: pointer;

                &:hover {
                    color: $gold_color;
                }
            }

            & :not(:last-child) {
                position: relative;
                margin-right: 2vw;

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    right: -1vw;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    height: 100%;
                    width: 1px;
                    background-color: #1a1a1a;
                }
            }
        }
    }
}

.opposite {
    width: 83%;

    .left {
        margin: 0;
        margin-left: 10vw;

        .imgBox {
            width: pxConvertor(817);
            height: pxConvertor(817);
        }
    }

    .right {
        order: -1;
    }
}