@mixin title {
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_xl_text);
    color: $gold_color;
    letter-spacing: 0.05em;
}

@mixin title-s-ch {
    font-weight: 500;
    font-family: 'Noto Serif TC', serif;
    font-size: var(--ch_m_text);
    letter-spacing: 0.05em;
    color: #fff;
}

@mixin title-s-en {
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_m_text);
    color: #b3b3b3;
    letter-spacing: 0.05em;
}

@mixin para-ch {
    font-weight: 400;
    font-family: 'Noto Serif TC', serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.05em;
    color: #FFF;
}





.index {
    overflow: hidden;

    //各cut共用高度
    .banner,
    .first-page,
    .second-page,
    .third-page,
    .forth-page,
    .fifth-page,
    .sixth-page {
        height: calc(100vw*(9/16));
        transition: 1s;
        //100vw : x = 21 : 9
        //21x = 100vw*9
        //x=100vw*9/21
    }

    //第二cut 跟第三cut 的導航列表的共用css


    .title-box {
        position: relative;
        margin-bottom: 4vw;
        width: 100%;
        padding-left: 1.7vw;

        h3 {
            width: fit-content;
            @include title();
            margin-bottom: 0.1vw;
            background: linear-gradient(30deg, $gold_color 0%, $gold_color 87%, #faf4d4 93%, $gold_color 99%);
            background-size: 200% 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation-name: indexGlowingTitle;
            animation-duration: 2.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-delay: 0.5;
            animation-iteration-count: infinite;
        }

        p {
            display: flex;
            align-items: center;
            font-size: var(--ch_l_text);
            color: $gold_color;
            letter-spacing: 0.05em;
            width: fit-content;
            font-weight: 600;

            span {
                position: relative;
                font-size: 1.45vw;
                margin: 0 0.75vw;
            }
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            left: 0.5vw;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 1px;
            height: 75%;
            background-color: $gold_color ;
        }
    }

    .nav {
        width: 98%;


        li {
            display: flex;
            width: 100%;
            margin-bottom: 2vw;
            padding-left: 2vw;
            cursor: pointer;
            position: relative;

            p {
                pointer-events: none;
                transition: 0.5s;
            }

            & :nth-child(1) {
                flex: 0 1 35%;
                @include title-s-ch();

            }

            & :nth-child(2) {
                @include title-s-en()
            }

            &::after {
                display: block;
                content: "";
                width: 0.3vw;
                height: 0.3vw;
                background-color: $gold_color;
                transform: rotate(45deg);
                transition: 1s;
                position: absolute;
                bottom: 0;
                top: 0;
                margin: auto 0;
                left: 0.5vw;
            }

            &::before {
                display: block;
                content: "";
                width: 88%;
                height: 1px;
                background-color: #cccccc81;
                position: absolute;
                left: 0;
                bottom: -1vw;
            }

            &:hover {
                & :nth-child(1) {
                    color: $gold_color;
                }


            }

            &:hover::after {
                transform: rotate(405deg);
            }
        }

    }

    //開頭video

    .full-screen {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: $white_color;

        .trigger {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: fit-content;
            height: fit-content;
            cursor: pointer;


            img {
                width: 10vw;
                pointer-events: none;
            }


        }

        .green-bg {
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    >.swiper-container {
        height: calc(100vw*9/16);
    }

    //以下被swiper-container包住
    //第一cut
    .banner {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;


        video {

            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.7) grayscale(1) contrast(1.4);

        }

        .black {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(transparent 50%, #00000010 65%, #000000f1 100%);
            background-size: 100% 100%;
            z-index: 2;
        }

        .paraBox {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0vw;
            bottom: 9vw;

            &> :nth-child(1) {
                height: 15.65vw;
            }

            &> :nth-child(2) {
                margin-left: -2.8vw;
            }

            img {
                height: 9.5vw;
            }

            .para {
                margin-left: 4.5vw;
                padding-left: 2vw;
                border-left: 1px solid $gold_color;
            }

        }




    }

    .first-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;

        &:has(ul > :not(:first-child):hover) {
            ul> :nth-child(1)> :nth-child(1) {
                color: #fff;
            }
        }

        &:has(ul > :nth-child(2):hover) {
            .imgBox> :nth-child(2) {
                opacity: 1;
            }
        }

        &:has(ul > :nth-child(3):hover) {
            .imgBox> :nth-child(3) {
                opacity: 1;
            }
        }

        &:has(ul > :nth-child(4):hover) {
            .imgBox> :nth-child(4) {
                opacity: 1;
            }
        }

        .left {
            width: 50%;


            .imgBox {
                position: relative;
                width: pxConvertor(1138);
                height: pxConvertor(640);

                .box {
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    transition: 1s;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.6s;
                    }
                }

                .box1 {
                    img {
                        transition: none;
                    }
                }

                &> :nth-child(1) {
                    display: flex;
                    flex-wrap: wrap;
                    opacity: 1;

                    img {
                        width: 50%;
                        height: 50%;
                    }
                }
            }
        }

        .section-nav {
            width: 40%;

            ul {
                &> :nth-child(1) :nth-child(1) {
                    color: $gold_color;
                }

            }
        }
    }

    .second-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;



        >div {
            width: 40%;
        }

        &-left {
            position: relative;
            display: flex;
            align-items: center;
            width: 50%;
            height: 100%;

            .cover-logo {
                display: flex;
                position: relative;
                width: 100%;
                padding-left: 5vw;

                svg {
                    position: absolute;
                    left: 2.4vw;
                    top: -5.5vw;
                    z-index: 20;
                    width: 100%;
                }

                .videoBox {
                    position: relative;
                    width: 100%;
                    height: 25.5vw;
                    clip-path: url(#yaoCheng);
                    transform: scale(0.78, 0.88);

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }


                }



            }

            .opposite {
                position: absolute;
                transform: rotateX(180deg);
                left: 0;
                bottom: -6.2vw;
                /* 使用渐变作为 mask */
                -webkit-mask-image: linear-gradient(to bottom, transparent 40%, #00000062);
                mask-image: linear-gradient(to bottom, transparent 40%, #00000062);
            }

            .building-team {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 100%;

                .designer {
                    align-items: flex-end;
                    height: 100%;

                    img {
                        display: block;
                        width: 32vw;
                    }

                    .title {
                        position: absolute;
                        right: -8vw;
                        bottom: 8vw;

                        p {
                            font-size: var(--ch_s_text);
                            color: #fff;
                            letter-spacing: 0.1em;
                            margin-bottom: 0.8vw;
                        }

                        img {
                            width: 8.55vw;
                        }
                    }
                }
            }
        }




    }



    .third-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        position: relative;

        &-bg {
            width: 54vw;
            height: 38.6vw;

            .imgBox {

                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                & :nth-child(1) {
                    -webkit-mask-image: linear-gradient(to right, #000000, transparent);
                    mask-image: linear-gradient(to right, #000000, transparent);
                    -webkit-mask-size: 0% 100%;
                    -webkit-mask-position: 0% 50%;
                    -webkit-mask-repeat: no-repeat;

                }
            }
        }

        &-para {
            position: relative;
            width: 29vw;

            .title-box {
                padding: 0;
                margin-bottom: 1vw;

                &::after {
                    display: none;
                }
            }

            .paraBox {

                line-height: 2.2;

                p {
                    @include para-ch();
                    font-family: "Microsoft JhengHei", serif;

                }

                .more {
                    position: relative;
                    border-bottom: 1px solid $gold_color;

                    padding: 0 3vw 0.4vw 0vw;
                    width: fit-content;
                    line-height: 1.8;
                    margin-top: 1.6vw;
                    cursor: pointer;

                    p {

                        color: $gold_color;
                        font-family: 'Cormorant Garamond', serif;
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.8vw;
                        right: 0vw;
                        width: 18%;
                        height: 1px;
                        background-color: $gold_color;

                    }

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0.8vw;
                        right: 0vw;
                        width: 5%;
                        height: 1px;
                        background-color: $gold_color;
                        transform-origin: right center;
                        transform: rotate(35deg);

                    }

                    &:hover::after {
                        animation-name: more;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    &:hover::before {
                        animation-name: more2;
                        animation-duration: 1.5s;
                        animation-fill-mode: forwards;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }
                }
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: -1.5vw;
                top: 0.7vw;
                width: 1px;
                height: 75%;
                background-color: $gold_color ;
            }
        }
    }

    .forth-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
        padding-top: 7vw;

        .title-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin-bottom: 6.5vw;

            &::after {
                width: 8vw;
                height: 1px;
                top: auto;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -1vw;
            }
        }

        &-card {
            display: flex;
            justify-content: space-between;
            width: 78%;
            height: 31.05vw;


            /* 创建透视效果 */
            a {
                width: 29.7%;
            }

            .card {
                position: relative;
                width: 100%;
                height: 80%;
                perspective: 1000px;
                cursor: pointer;

                /* 保持子元素的 3D 转换效果 */
                .imgBox {
                    position: relative;
                    width: 85%;
                    height: 100%;
                    margin: 0 auto;
                    transform-style: preserve-3d;

                    .box {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(0 15%, 36% 0, 100% 0, 100% 85%, 71% 100%, 0 100%);
                        z-index: 2;
                        overflow: hidden;

                        img {
                            position: relative;
                            width: 115%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    >img {
                        position: absolute;
                        width: 90%;
                        right: -10px;
                        top: -10px;
                        transform: scaleY(1.155);
                        transform-origin: center top;
                    }

                    span {
                        position: absolute;
                        left: -0.5vw;
                        top: -1.3vw;
                        color: $gold_color;
                        font-size: var(--ch_xl_text);
                        letter-spacing: 0.1em;
                        z-index: 3;
                    }


                }

                .paraBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 20%;

                    h6 {
                        @include title-s-ch();
                        color: $gold_color;
                        letter-spacing: 0.1em;
                    }
                }

                &:hover {
                    .imgBox {
                        &::before {
                            opacity: 0
                        }
                    }
                }

            }

        }
    }

    .fifth-page {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 92%;
        margin: 0 auto 0 0;
        position: relative;

        &-bg {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: absolute;
            left: 20vw;
            top: -9vw;
            width: 47vw;
            height: fit-content;
            transform: rotate(45deg);

            .imgBox {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15.6666vw;
                height: 15.6666vw;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                >a {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 20;
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transform: rotate(-45deg);
                    position: relative;
                    pointer-events: none;

                    img {
                        position: absolute;
                        top: -1.1vw;
                        transition: top 0.6s;
                    }

                    span {
                        transition: 0.6s;
                    }


                }

                >img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: rotate(-45deg) scale(1.33);
                }

                span {
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    @include title-s-ch();
                    transform: scale(1);
                    color: $gold_color;
                    letter-spacing: 0.05em;
                    font-weight: 300;
                }

                &:hover .box span {
                    margin-bottom: 2.5vw;
                }

                &:hover .box img {
                    top: 2.5vw;
                }
            }

        }

        &-para {
            position: relative;
            margin-bottom: 8.5vw;

            .title-box {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-bottom: 0.6vw;


                h3 {
                    text-align: end;
                }

                &::after {
                    display: none;
                }
            }

            .paraBox {

                p,
                span {
                    display: block;
                    width: 100%;
                    text-align: end;
                    color: #fff;
                }

                p {
                    margin-bottom: 0.5vw;
                    font-size: var(--ch_s_text);
                    letter-spacing: 0.1em;
                }

                span {
                    font-size: var(--ch_xs_test);
                    letter-spacing: 0.1em;
                }
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                right: -1.5vw;
                top: 0.7vw;
                width: 1px;
                height: 95%;
                background-color: $gold_color ;
            }
        }
    }

    .sixth-page {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 87.5%;
        height: 100%;
        margin: 0 auto;

        &-bg {
            height: 100%;

            ul {
                display: flex;
                align-items: center;
                height: 100%;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 0.8vw;

                    .imgBox {
                        margin-bottom: 1.6vw;

                        img {
                            width: calc(500 /2560*100vw);
                        }
                    }

                    .paraBox {
                        p {
                            @include title-s-ch();
                            color: $gold_color;
                        }
                    }
                }

                &> :nth-child(odd) {
                    margin-top: 2.5vw;
                }
            }
        }

        &-para {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;

            .title-box {
                margin: 0;

                h3,
                p {
                    justify-content: flex-end;
                    width: 100%;
                    text-align: end;
                }

                &::after {
                    left: auto;
                    right: -1vw;
                }
            }
        }

        >img {
            position: absolute;
            right: -7.5%;
            bottom: -0.1vw;
            width: calc(990/2560*100vw);
        }
    }

}

@keyframes more {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1vw);
        opacity: 0
    }

    51% {
        transform: translateX(-1vw);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes more2 {
    0% {
        transform: translateX(0) rotate(35deg);
    }

    50% {
        transform: translateX(1vw) rotate(35deg);
        opacity: 0
    }

    51% {
        transform: translateX(-1vw) rotate(35deg);
        opacity: 0
    }

    100% {
        transform: translateX(0) rotate(35deg);
        opacity: 1
    }
}