.life-function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 92.5%;
    margin: 0 0 0 auto;
    height: calc(100vw*(9/16));
    overflow: hidden;

    .titleBox {
        position: relative;

        h1,
        h3 {
            color: $gold_color;
            letter-spacing: 0.1em;
        }

        h1 {
            margin-bottom: 0.3vw;

            span {
                color: $gold_color;
                font-family: 'Cormorant Garamond', serif;
                font-weight: 400;
                font-size: var(--ch_l_text);

            }

        }

        h3 {
            font-size: var(--ch_ml_text);
        }

        .line {
            position: absolute;
            width: 3vw;
            height: 1px;
            left: 0;
            bottom: -(pxConvertor(35));
            background-color: $gold_color;
        }
    }

    .imageBox {
        width: pxConvertor(1690);
        height: auto;
        margin-right: 7.5%;

        .zoom {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 2vw;
            bottom: 10vw;

            &> :nth-child(1) {
                margin-bottom: 0.8vw;
            }
        }

        .glow {
            width: 4vw;
            height: 5vw;
            left: 18vw;
            bottom: 21.5vw;
        }
    }
}