.product {
    width: 100%;
    height: calc(100vw*(9/16));
    overflow: hidden;

    &-exterior {
        width: 100%;
        height: 100%;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .dayNight {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 3vw;
            bottom: 2vw;
            cursor: pointer;
            pointer-events: auto;
            z-index: 2;

            img {
                width: pxConvertor(56);
            }

            & :nth-child(1) {
                margin-bottom: 0.5vw;
            }
        }
    }

    .floor-nav {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0vw;
        padding-bottom: 2vw;
        left: 0;
        pointer-events: auto;
        overflow: hidden;

        &:hover .nav-area {
            transform: translateY(0);
        }

        .nav-area {
            display: flex;
            width: pxConvertor(2022);
            transform: translateY(6vw);
            transition: 0.8s;

            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffffce;
                width: 5.8%;
                height: pxConvertor(95);
                cursor: pointer;
                transition: 0.5s;
                color: #000;

                p {

                    font-size: var(--ch_m_text);
                    font-weight: 600;
                    transition: 0.5s;

                    &::after,
                    &::before {
                        display: block;
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 20%;
                        background-color: #000;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        opacity: 0;
                        transition: 0.2s;
                    }

                    &::after {
                        top: 0vw;
                    }

                    &::before {
                        bottom: 0;
                    }

                    &:hover::after,
                    &:hover::before {
                        opacity: 1;
                    }

                    &:hover {
                        font-size: var(--ch_l_text);
                        color: $gold_color;
                    }
                }
            }

            .clicked {
                pointer-events: none;
                transition: 0.3s;
                color: $gold_color;

                p {
                    font-size: var(--ch_l_text);
                    transition: 0.3s;

                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }


            &> :nth-child(1),
            &> :nth-child(2),
            &> :nth-child(3) {
                background-color: #ccc;
            }
        }
    }

    .floor {
        position: relative;
        width: 100%;
        height: 100%;

        .titleBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: pxConvertor(210);
            left: pxConvertor(1569);
            width: pxConvertor(397.5);
            height: pxConvertor(322.5);
            border: 1px solid $gold_color;


            h2,
            h3 {
                color: $gold_color;
                text-align: center;
            }

            h2 {
                font-size: pxConvertor(42);
                font-weight: 600;
                margin-bottom: 0.6vw;
                white-space: pre-wrap;

                span {
                    display: inline-block;
                    position: relative;
                    margin: 0 0.5vw;


                    &:not(:first-child) {
                        &::after {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 1px;
                            height: 30%;
                            background-color: $gold_color;
                            top: 0.95vw;
                            left: -0.5vw;
                        }
                    }

                    &:nth-child(5)::after {
                        display: none;

                    }
                }

            }

            h3 {
                position: relative;
                font-size: pxConvertor(40);
                font-weight: 600;
                letter-spacing: 0.15em;

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 25%;
                    height: 1px;
                    bottom: -0.9vw;
                    background-color: $gold_color;
                }
            }


        }

        .scaleWrapper {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: pxConvertor(182);
            width: pxConvertor(1988);
            height: pxConvertor(1063.5);


            .imgBox {

                .box {
                    width: 100%;
                    height: 100%;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .dualAnchor {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;

                        >div {
                            position: absolute;
                            pointer-events: auto;
                            cursor: pointer;

                            .thumbBox {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                            }

                            p {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: pxConvertor(58);
                                height: pxConvertor(58);
                                border-radius: 50%;
                                background-color: $gold_color;
                                text-align: center;
                                color: #fff;
                                font-size: pxConvertor(28);
                            }

                            &:hover {
                                p {
                                    animation-name: bounce;
                                    animation-duration: 1s;
                                    animation-timing-function: linear;
                                    animation-fill-mode: forwards;
                                    animation-iteration-count: infinite;
                                }
                            }
                        }

                        .a1 {
                            width: 14vw;
                            height: 18vw;
                            left: 0vw;
                            bottom: 6.5vw;

                            p {
                                left: 7vw;
                                top: 1.6vw;
                            }
                        }

                        .a2 {
                            width: 14vw;
                            height: 17.2vw;
                            left: 0vw;
                            top: 0vw;

                            p {
                                left: 7vw;
                                bottom: 1.6vw;
                            }
                        }

                        .a3 {
                            width: 14vw;
                            height: 17.2vw;
                            left: 16.5vw;
                            top: 0vw;

                            p {
                                left: 6vw;
                                bottom: 1.7vw;
                            }
                        }

                        .a5 {
                            width: 12vw;
                            height: 18vw;
                            left: 18.5vw;
                            bottom: 6.5vw;

                            p {
                                left: 3.5vw;
                                bottom: 8vw;
                            }
                        }

                        .b1 {
                            width: 18vw;
                            height: 14.5vw;
                            left: 60.5vw;
                            bottom: 0vw;

                            p {
                                left: 3vw;
                                top: 6.5vw;
                            }
                        }

                        .b2 {
                            width: 16.5vw;
                            height: 14.5vw;
                            left: 39vw;
                            bottom: 0vw;

                            p {
                                right: 2vw;
                                top: 6.5vw;
                            }
                        }

                        .b3 {
                            width: 16.5vw;
                            height: 10.5vw;
                            left: 39vw;
                            bottom: 14vw;

                            p {
                                right: 2vw;
                                top: 5vw;
                            }
                        }

                        .b5 {
                            width: 18vw;
                            height: 10.5vw;
                            left: 60.5vw;
                            bottom: 14vw;

                            p {
                                left: 3vw;
                                top: 5vw;
                            }
                        }



                    }

                    .singleAnchor {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;

                        >div {
                            position: absolute;

                            .thumbBox {
                                padding: pxConvertor(60);
                                width: pxConvertor(144.2);
                                height: pxConvertor(153.8);

                                &:hover {
                                    >img {
                                        animation-name: bounce;
                                        animation-duration: 1s;
                                        animation-timing-function: linear;
                                        animation-fill-mode: forwards;
                                        animation-iteration-count: infinite;
                                    }
                                }
                            }

                        }

                        .redDot1 {
                            //大門
                            left: 20vw;
                            bottom: 10vw;
                        }

                        .redDot2 {
                            //迎賓大廳
                            left: 26.5vw;
                            bottom: 22.5vw;
                        }

                        .redDot3 {
                            //交誼廳
                            left: 26.7vw;
                            bottom: 34vw;
                        }

                        .redDot4 {
                            //健身房
                            left: 41vw;
                            bottom: 25.5vw;
                        }

                        .redDot5 {
                            //中庭
                            top: 6vw;
                            right: 20vw;
                        }
                    }
                }
            }

            .zoom {
                position: fixed;
                flex-direction: column;
                right: 0.8vw;
                bottom: 2vw;
                z-index: 10;

                img {
                    width: pxConvertor(52.5);
                }

                & :nth-child(1) {
                    margin-bottom: 0.5vw;
                }
            }
        }
    }

    .single {
        .titleBox {
            top: pxConvertor(554);
            left: pxConvertor(95);
        }

        .scaleWrapper {
            position: absolute;
            left: pxConvertor(633);
            right: auto;
            top: pxConvertor(53);
            width: pxConvertor(1774);
            height: pxConvertor(1248);
        }

    }

    .second-floor {

        .scaleWrapper {
            .imgBox {
                .box {
                    .dualAnchor {

                        .a5 {
                            p {
                                left: 3vw;
                            }
                        }

                        .b5 {

                            p {
                                left: 1vw;
                                right: auto;
                            }
                        }

                        .b2 {


                            p {
                                right: 3.5vw;
                            }
                        }

                        .b3 {
                            p {
                                right: 3.5vw;
                            }
                        }

                        .b1 {
                            p {
                                left: 0.8vw;
                            }
                        }
                    }
                }
            }
        }


    }
}

.fancyBox {

    //家配圖
    .home-map {
        display: flex;
        height: 100%;
        width: 100%;

        .information {
            position: absolute;
            top: pxConvertor(366);
            left: pxConvertor(350);
            width: pxConvertor(397.5);

            .titleBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: pxConvertor(322.5);
                border: 1px solid $gold_color;


                h2,
                h3 {
                    color: $gold_color;
                    text-align: center;
                }

                h2 {
                    font-size: pxConvertor(72);
                    font-weight: 600;
                    margin-bottom: 0.6vw;
                    white-space: pre-wrap;

                    span {
                        display: inline-block;
                        position: relative;
                        margin: 0 0.5vw;


                        &:not(:first-child) {
                            &::after {
                                position: absolute;
                                display: block;
                                content: "";
                                width: 1px;
                                height: 30%;
                                background-color: $gold_color;
                                top: 0.95vw;
                                left: -0.5vw;
                            }
                        }

                        &:nth-child(5)::after {
                            display: none;

                        }
                    }

                }

                h3 {
                    position: relative;
                    font-size: pxConvertor(40);
                    font-weight: 600;
                    letter-spacing: 0.15em;

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: 25%;
                        height: 1px;
                        bottom: -0.9vw;
                        background-color: $gold_color;
                    }
                }


            }

            .sketch-map {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 2vw;

                .sketch1 {
                    display: flex;
                    flex-wrap: wrap;
                    width: pxConvertor(133.6);
                    height: pxConvertor(194.2);
                    border: 1px solid $gold_color;

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: pxConvertor(27);
                        color: $gold_color;
                        flex-grow: 1;

                        &:nth-child(1),
                        &:nth-child(2) {
                            border-bottom: 1px solid $gold_color;
                        }

                        &:nth-child(odd) {

                            flex: 0 0 60%;
                            border-right: 1px solid $gold_color;
                        }
                    }
                }

                .sketch2 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: pxConvertor(177.6);
                    height: pxConvertor(127);
                    border: 1px solid $gold_color;
                    margin-top: 3.8vw;
                    margin-right: -1vw;

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 1;
                        font-size: pxConvertor(27);
                        color: $gold_color;

                        &:nth-child(1),
                        &:nth-child(2) {

                            border-right: 1px solid $gold_color;
                        }

                        &:nth-child(odd) {
                            flex: 0 0 40%;
                            border-bottom: 1px solid $gold_color;
                        }
                    }
                }
            }
        }




        img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: pxConvertor(400);
            width: auto;
            height: 90%;
        }

        .sign {
            position: absolute;
            right: 0.5vw;
            bottom: 0.5vw;
            color: #fff;
            letter-spacing: 0.1em;
            font-weight: 500;
            font-size: pxConvertor(12);
        }
    }

    .B1,
    .B2,
    .B3,
    .B5 {
        .information {
            left: pxConvertor(193);
        }

        img {
            right: pxConvertor(217);
            width: pxConvertor(1462);
            height: auto;
        }
    }


    //公設圖
    .firstFloor {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .area-name {
            display: flex;
            align-items: center;
            position: absolute;
            padding-left: 1vw;
            width: 20vw;
            height: 3vw;
            right: 0vw;
            bottom: 5vw;
            z-index: 2;
            background-color: #00000077;

            h3 {
                font-size: var(--ch_m_text);
                color: #fff;
                font-weight: 400;
            }
        }
    }
}


@media all and (max-width:1440px) {
    .product {
        .floor-nav {
            .nav-area {
                transform: translateY(0);
            }
        }
    }
}