@mixin title-s-en {
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_l_text);
    color: $gold_color;
    letter-spacing: 0.05em;
    line-height: 1;
}

@mixin para-ch {
    font-weight: 500;
    font-family: "Microsoft JhengHei", serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.1em;
    color: #fff;
    line-height: 2;

}

.team {

    width: 100%;
    height: calc(100vw*(9/16));


    .coporation {
        display: flex;
        align-items: center;
        width: 74%;
        height: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            width: 100%;

            .imgBox {
                position: relative;
                width: 45vw;

                margin-right: 6vw;

                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    z-index: 2;
                }

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    right: -1vw;
                    bottom: -1vw;
                    border: 1px solid $gold_color;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43%;


                .paraBox {
                    width: 100%;


                    .title {
                        position: relative;
                        margin-bottom: 3vw;

                        h2 {
                            @include title-s-en();

                            span {
                                font-family: 'Cormorant Garamond', serif;
                            }
                        }

                        .line {
                            position: absolute;
                            left: 0;
                            width: 8%;
                            height: 1px;
                            background-color: $gold_color;
                        }
                    }

                    .para {
                        p {
                            @include para-ch();
                        }
                    }


                }

                .nav {
                    pointer-events: auto;
                    margin-top: 3vw;
                    width: 100%;

                    ul {
                        display: flex;
                        width: 100%;

                        li {
                            @include para-ch();
                            font-size: var(--ch_m_text);
                            font-family: 'Noto Serif TC', serif;
                            line-height: normal;
                            font-weight: 700;
                            cursor: pointer;
                        }

                        &> :not(:last-child) {
                            position: relative;
                            margin-right: 3vw;

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 80%;
                                top: 0;
                                bottom: 0;
                                margin: auto 0;
                                right: -1.5vw;
                                background-color: #1a1a1a;
                            }
                        }
                    }
                }

                .slogan {
                    display: flex;
                    justify-content: space-around;
                    width: 95%;
                    margin-top: 2vw;

                    img {
                        width: 21.2%;

                    }
                }
            }

            >img {
                position: absolute;
                right: 0.5vw;
                bottom: 0vw;
                width: 46%;
            }

        }




    }

    .designTeam {
        display: flex;
        width: 85%;
        height: 100%;
        margin: 0 auto;


        .designer {
            position: relative;
            align-items: flex-end;
            width: 50%;


            img {
                display: block;
                width: pxConvertor(838);
            }

            .title {
                position: absolute;
                right: 0vw;
                bottom: 7vw;

                p {
                    font-size: var(--ch_s_text);
                    color: #fff;
                    letter-spacing: 0.1em;
                    margin-bottom: 0.8vw;
                }

                img {
                    width: 8.55vw;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding-left: 7vw;

            .paraBox {
                .title {
                    position: relative;
                    margin-bottom: 2.5vw;

                    h2 {
                        @include title-s-en();

                        span {
                            font-family: 'Cormorant Garamond', serif;
                        }
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 7%;
                        height: 1px;
                        background-color: $gold_color;
                    }
                }

                .para {
                    width: 72%;

                    p {
                        width: fit-content;
                        @include para-ch();
                    }



                    & :nth-child(1) {
                        font-size: pxConvertor(28);
                        font-weight: 500;
                        font-family: 'Noto Serif TC', serif;
                        color: #fff;

                        span {
                            font-size: var(--ch_l_text);
                            margin: 0 0.5vw;
                        }
                    }

                    & :nth-child(2) {
                        font-size: var(--ch_s_text);
                        font-weight: 300;
                        color: #fff;
                        margin: 1vw 0 1.8vw;
                    }
                }


            }

            .list {
                li {
                    position: relative;
                    @include para-ch();
                    font-weight: 300;
                }

                & :nth-child(1) {
                    margin-bottom: 0.5vw;
                }


            }

            .portfolio {
                display: flex;
                width: pxConvertor(832.868);
                justify-content: space-between;
                margin-top: 2.3vw;

                .boxInner {

                    p {
                        @include para-ch();
                        font-weight: 300;
                        font-size: pxConvertor(21);
                        width: fit-content;
                        margin: 0.6vw auto 0;

                    }

                    .thumbBox {
                        width: pxConvertor(264);
                        height: pxConvertor(165);
                    }

                }
            }
        }

    }
}


.line {
    animation-name: line;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    transform-origin: left center;
    transform: scaleX(0);
}

@keyframes line {


    100% {
        transform: scaleX(1);
    }
}