@mixin title-s-en {
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_l_text);
    color: $gold_color;
    letter-spacing: 0.02em;
    line-height: 1;
}

@mixin para-ch {
    font-weight: 500;
    font-family: "Microsoft JhengHei", serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.1em;
    color: #313131;
    line-height: 2;

}

.team {

    width: 100%;
    height: calc(100vw*(9/16));


    .coporation {
        display: flex;
        align-items: center;
        width: 74%;
        height: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            width: 100%;

            .imgBox {
                position: relative;
                width: 45vw;

                margin-right: 6vw;

                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    z-index: 2;
                }

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    right: -1vw;
                    bottom: -1vw;
                    border: 1px solid $gold_color;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43%;


                .paraBox {
                    width: 100%;


                    .title {
                        position: relative;
                        margin-bottom: 3vw;

                        h2 {
                            @include title-s-en();

                            span {
                                font-family: 'Cormorant Garamond', serif;
                            }
                        }

                        .line {
                            position: absolute;
                            left: 0;
                            width: 8%;
                            height: 1px;
                            background-color: $gold_color;
                        }
                    }

                    .para {
                        p {
                            @include para-ch();
                        }
                    }


                }

                .nav {
                    pointer-events: auto;
                    margin-top: 3vw;
                    width: 100%;

                    ul {
                        display: flex;
                        width: 100%;

                        li {
                            @include para-ch();
                            font-size: var(--ch_m_text);
                            font-family: 'Noto Serif TC', serif;
                            line-height: normal;
                            font-weight: 700;
                            cursor: pointer;
                        }

                        &> :not(:last-child) {
                            position: relative;
                            margin-right: 3vw;

                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 80%;
                                top: 0;
                                bottom: 0;
                                margin: auto 0;
                                right: -1.5vw;
                                background-color: #1a1a1a;
                            }
                        }
                    }
                }

                .slogan {
                    display: flex;
                    justify-content: space-around;
                    width: 95%;
                    margin-top: 2vw;

                    img {
                        width: 21.2%;

                    }
                }
            }

            >img {
                position: absolute;
                right: 0.5vw;
                bottom: 0vw;
                width: 46%;
            }

        }




    }

    .designTeam {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;


        .para-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36.5%;

            .paraBox {
                width: fit-content;


                .title {
                    position: relative;
                    margin-bottom: 3vw;

                    h2 {
                        @include title-s-en();

                        span {
                            font-family: 'Cormorant Garamond', serif;
                        }
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 12%;
                        height: 1px;
                        background-color: $gold_color;
                    }
                }

                .para {

                    p {
                        width: fit-content;
                        @include para-ch();
                    }

                    & :nth-child(1) {
                        font-size: var(--ch_s_text);
                        font-weight: 600;
                        font-family: 'Noto Serif TC', serif;
                        color: #000;

                        span {
                            font-size: var(--ch_ml_text);
                            margin: 0 0.65vw;
                        }
                    }
                }


            }
        }

        .img-box {
            width: 61.5%;
            height: 100%;
            position: relative;

            >img {
                height: 100%;
                width: auto;
            }

            .imgBox {
                position: absolute;
                height: 94.3%;
                right: 18vw;
                bottom: 0;

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .designer {
                position: absolute;
                right: 5.5vw;
                top: 12.5vw;

                p {
                    font-size: var(--ch_s_text);
                    letter-spacing: 0.1em;
                    font-weight: 600;
                    margin-bottom: 0.5vw;
                }

                img {
                    width: 10.75vw;
                }
            }
        }



        >img {
            position: absolute;
            left: 2.5vw;
            bottom: 0;
            width: 40%;
        }
    }
}


.line {
    animation-name: line;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    transform-origin: left center;
    transform: scaleX(0);
}

@keyframes line {


    100% {
        transform: scaleX(1);
    }
}