@mixin title-s-en {
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--ch_l_text);
    color: $gold_color;
    letter-spacing: 0.05em;
    line-height: 1;
}

@mixin para-ch {
    font-weight: 500;
    font-family: "Microsoft JhengHei", serif;
    font-size: var(--ch_s_text);
    letter-spacing: 0.1em;
    color: #fff;
    line-height: 1.8;

}

.team {

    width: 100%;
    height: calc(100vw*(9/16));


    .coporation {
        display: flex;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            width: 100%;

            .imgBox {
                position: relative;
                width: pxConvertor(1354);

                margin-right: 6vw;

                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    z-index: 2;
                }


            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 43%;


                .paraBox {
                    width: 90%;


                    .title-box {
                        position: relative;
                        margin-bottom: 2.5vw;
                        width: 100%;

                        h3 {
                            width: fit-content;
                            margin-bottom: 0.1vw;


                            span {
                                @include title-s-en();
                                font-weight: 500;
                                background: linear-gradient(90deg, $gold_color 0%, $gold_color 87%, #faf4d4 93%, $gold_color 99%);
                                background-size: 200% 400%;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                animation-name: indexGlowingTitle;
                                animation-duration: 2.5s;
                                animation-timing-function: linear;
                                animation-fill-mode: forwards;
                                animation-delay: 0.2s;
                                animation-iteration-count: infinite;
                            }
                        }

                        p {
                            display: flex;
                            align-items: center;
                            font-size: var(--ch_ml_text);
                            color: $gold_color;
                            letter-spacing: 0.05em;
                            width: fit-content;
                            font-weight: 600;

                            span {
                                position: relative;
                                font-size: 1.1vw;
                                margin: 0 0.75vw;
                            }
                        }
                    }

                    .para {
                        p {
                            @include para-ch();
                        }
                    }

                    .concept {
                        display: flex;
                        justify-content: space-between;
                        width: 95%;
                        margin-top: 4vw;

                        .box {
                            width: 28%;

                            .imgBox {
                                width: 100%;
                                margin-bottom: 1.2vw;

                                img {
                                    width: 100%;
                                }

                                & :nth-child(2),
                                & :nth-child(3) {
                                    position: absolute;
                                    width: 70%;
                                    left: -0.8vw;
                                    top: -1vw;
                                    filter: brightness(200);
                                    animation-name: glow;
                                    animation-duration: 1.5s;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: forwards;
                                    animation-iteration-count: infinite;
                                }

                                & :nth-child(3) {
                                    width: 45%;
                                    left: 0.4vw;
                                    top: -0.4vw;
                                    transform: rotate(60deg)
                                }

                                & :nth-child(4) {
                                    position: absolute;
                                    width: 90%;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    top: 0;
                                    margin: auto;
                                    animation-name: turn;
                                    animation-duration: 10s;
                                    animation-timing-function: ease-out;
                                    animation-fill-mode: forwards;
                                    animation-iteration-count: infinite;
                                }
                            }

                            p {
                                @include para-ch();
                                font-size: pxConvertor(21);
                                line-height: 1.6;
                            }
                        }
                    }

                }



                .slogan {
                    display: flex;
                    justify-content: space-around;
                    width: 95%;
                    margin-top: 2vw;

                    img {
                        width: 21.2%;

                    }
                }
            }



            >img {
                position: absolute;
                right: 0.5vw;
                bottom: 0vw;
                width: 46%;
            }

        }

        .nav {
            position: absolute;
            right: pxConvertor(209);
            top: pxConvertor(76.15);
            pointer-events: auto;

            width: fit-content;

            ul {
                display: flex;
                width: 100%;

                li {

                    font-size: var(--ch_s_text);
                    font-weight: 500;
                    color: $gold_color;
                    cursor: pointer;
                    letter-spacing: 0.1em;
                }

                &> :not(:last-child) {
                    position: relative;
                    margin-right: 1.5vw;

                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 80%;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        right: -0.75vw;
                        background-color: $gold_color;
                    }
                }
            }
        }

        .yao-cheng-concept {

            .right {
                width: 100%;

                .paraBox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .title-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: fit-content;


                    }

                    .para {
                        width: pxConvertor(1384);
                    }

                    .concept {
                        width: 100%;
                        margin-top: 8vw;

                        .box {
                            width: 15%;

                            .imgBox {
                                display: flex;
                                justify-content: center;

                                img {
                                    width: pxConvertor(321);
                                }

                                & :nth-child(2) {
                                    width: auto;
                                    height: pxConvertor(50);
                                    top: 4.5vw;
                                    right: 0;
                                    left: 0;
                                    margin: 0 auto;

                                }
                            }

                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

    }

    .designTeam {
        display: flex;
        width: 85%;
        height: 100%;
        margin: 0 auto;


        .designer {
            position: relative;
            align-items: flex-end;
            width: 50%;


            img {
                display: block;
                width: pxConvertor(838);
            }

            .title {
                position: absolute;
                right: 0vw;
                bottom: 7vw;

                p {
                    font-size: var(--ch_s_text);
                    color: #fff;
                    letter-spacing: 0.1em;
                    margin-bottom: 0.8vw;
                }

                img {
                    width: 8.55vw;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding-left: 7vw;

            .paraBox {
                .title {
                    position: relative;
                    margin-bottom: 2.5vw;

                    h2 {
                        @include title-s-en();

                        span {
                            font-family: 'Cormorant Garamond', serif;
                        }
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 7%;
                        height: 1px;
                        background-color: $gold_color;
                    }
                }

                .para {
                    width: 72%;

                    p {
                        width: fit-content;
                        @include para-ch();
                    }



                    & :nth-child(1) {
                        font-size: pxConvertor(28);
                        font-weight: 500;
                        font-family: 'Noto Serif TC', serif;
                        color: #fff;

                        span {
                            font-size: var(--ch_l_text);
                            margin: 0 0.5vw;
                        }
                    }

                    & :nth-child(2) {
                        font-size: var(--ch_s_text);
                        font-weight: 300;
                        color: #fff;
                        margin: 1vw 0 1.8vw;
                    }
                }


            }

            .list {
                li {
                    position: relative;
                    @include para-ch();
                    font-weight: 300;
                }

                & :nth-child(1) {
                    margin-bottom: 0.5vw;
                }


            }

            .portfolio {
                display: flex;
                width: pxConvertor(832.868);
                justify-content: space-between;
                margin-top: 2.3vw;

                .boxInner {

                    p {
                        @include para-ch();
                        font-weight: 300;
                        font-size: pxConvertor(21);
                        width: fit-content;
                        margin: 0.6vw auto 0;

                    }

                    .thumbBox {
                        width: pxConvertor(264);
                        height: pxConvertor(165);
                    }

                }
            }
        }

    }
}