@import "_config";
@import "_index";
@import "_lifefunction";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: $white_color;
}

.react-pdf__Page {
    .annotationLayer {
        display: none;
    }

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}

.fadeIn {
    opacity: 0;
}

.fadeOut {
    opacity: 1;
}